body {
		background-image: url("Images/philo bg.jfif");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
}

h1 {
		font-size:70px; 
		font-family: papyrus; 
		float: left; 
		position: absolute; 
		margin-left: 15%;
}

h2 {
		font-size:55px; 
		font-family: Courier; 
		margin-left: 2%;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}


p {
	font-family: georgia;
}